/* You can add global styles to this file, and also import other style files */
@import "assets/css/material-theme.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.left-aligned {
    text-align: left;
}

.right-aligned {
    text-align: right;
}

.center-aligned {
    text-align: center;
}

.float-right {
    float: right;
}

.footer-text {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

div.icon-logo {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}

img.icon-logo {
    width: 33%;
    border-radius: 17.544%;
}

img.icon-logo-small {
    width: 25%;
    border-radius: 17.544%;
}

.full-width {
    width: 100%;
}

.footnote {
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
}

.heading-small {
    font-size: 1.5em;
    color: #424242;
}

.subtitle-small {
    font-size: 1.25em;
    color: #424242;
}

.strong {
    font-weight: 500;
}

.horizontal-line-light {
    border: 0; 
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.grid-50-50 {
    display: grid;
    grid-template-columns: auto auto;
}
