<h1 mat-dialog-title>Role Overview</h1>

<div mat-dialog-content>
    <form [formGroup]="roleFormGroup">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Role Title</mat-label>
            <input matInput formControlName="roleTitle">
        </mat-form-field>

        <br>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Role Description</mat-label>
            <input matInput formControlName="roleDescription">
        </mat-form-field>
        <br>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit" color="accent" [disabled]="roleFormGroup.invalid" (click)="updateRole()">Update</button>
    <button mat-raised-button type="submit" color="primary" (click)="deleteRole()">Delete</button>
</div>

