<div>
    <div style="display: grid; grid-template-columns: auto auto;">
        <p class="heading-small">User and Role Assignement</p>

        <div style="width: 100%; text-align: right;">
            <button mat-icon-button (click)="refresh()"> 
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>
    <hr class="horizontal-line-light">
</div>


<div>
    <mat-card>
        <div class="grid-view">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Start searching for users" [(ngModel)]="usernameSearchValue">
                <mat-label>Search for users</mat-label>
            </mat-form-field>
            <button mat-raised-button style="margin-left: 10px;" (click)="initiateUserSearch()">
                Search
            </button>
        </div>

        <table class="full-width" *ngIf="usersWithRoles">
            <tr>
                <th style="border: none;"></th>
                <th *ngFor="let role of roles" class="center-aligned">{{role['roleTitle']}}</th>
            </tr>
            <tr *ngFor="let userWithRoles of usersWithRoles;">
                <td style="color: #424242;">{{userWithRoles['user']['username']}}</td>
                <td *ngFor="let role of roles; let i = index;" class="center-aligned">
                    <mat-checkbox [checked]="isUserInRole(userWithRoles['user']['id'], role['roleId'])" (change)="toggleUserToRoleAssignement(userWithRoles['user']['id'], role['roleId'])"></mat-checkbox>
                </td>
            </tr>
        </table>

        <div *ngIf="!usersWithRoles">
            <p>To start assigning users to roles, please search for a user in the textfield above.</p> 
        </div>


    </mat-card>
</div>
